.button {
  padding: 12px 30px;
  background: var(--black);
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: 700;
  border-radius: 63px;
  transition: 0.3s;
}

.button:hover {
  border-radius: 5px;
  transition: 0.3s;
  border: 2px solid transparent;
}
