.agencies {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.agencies__title {
  font-size: 2.2rem;
  margin: 60px 0 0 0;
}

.agencies__row {
  display: flex;
}

.agencies__column {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.agencies__column__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 200px;
}

.agencies__column__block__title {
  font-weight: 700;
}

.agencies__column__block__text {
  position: relative;
  padding: 0 0 0 25px;
}

.agencies__column__block__text::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  left: 0px;
  top: 0;
}

.doublelocation::before {
  background: url(../../../assets/images/icons/doubleLocationIcon.svg) no-repeat center center / contain;
}

.location::before {
  background: url(../../../assets/images/icons/locationIcon.svg) no-repeat center center / contain;
}

.company::before {
  background: url(../../../assets/images/icons/companyIcon.svg) no-repeat center center / contain;
}

.person::before {
  background: url(../../../assets/images/icons/personIcon.svg) no-repeat center center / contain;
}

.mail::before {
  background: url(../../../assets/images/icons/mailIcon.svg) no-repeat center center / contain;
}

.phone::before {
  background: url(../../../assets/images/icons/phoneIcon.svg) no-repeat center center / contain;
}

@media screen and (max-width: 1050px) {
  .agencies__title {
    font-size: 1.8rem;
    margin: 40px 0 0 0;
  }
  .agencies {
    gap: 40px;
  }
}

@media screen and (max-width: 800px) {
  .agencies__title {
    margin: 40px 0 0 0;
  }
  .agencies {
    gap: 20px;
  }
  .agencies__row {
    flex-direction: column;
    gap: 20px;
  }
  .agencies__column {
    padding: 18px 25px;
    width: 100%;
    align-items: center;
    background: var(--primary);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .agencies__column__block {
    width: 100%;
  }
}
