.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: url(../../../assets/images/main/background.png) no-repeat center center / cover;
}

.intro__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.intro__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  max-width: 380px;
  width: 100%;
  height: 100%;
}

.intro__info__title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.5rem;
  opacity: 0;
}

.intro__info__description {
  font-size: 1.5rem;
  opacity: 0;
}

.intro__info__button__container {
  width: 320px;
  opacity: 0;
}

.intro__slider {
  position: relative;
  top: 100px;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
  height: 600px;
}

.intro__slider__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
}

.intro__slider__image.active {
  opacity: 1;
}

.intro__benefits {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1060px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro__benefit {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  gap: 28px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11.5px);
  padding: 50px 15px 20px 15px;
}

.intro__description {
  color: black;
  font-size: 1.5rem;
  margin: 120px 0 60px 0;
  text-align: center;
}

.intro__mobile {
  display: none;
}

@media screen and (max-width: 960px) {
  .intro__mobile .container {
    padding: 0 !important;
  }
  .intro {
    display: none;
  }
  .intro__mobile {
    display: flex;
    flex-direction: column;
  }
  .intro__mobile__innner {
    display: flex;
    flex-direction: column;
  }

  .intro__slider__container {
    width: 100%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../../assets/images/main/background.png) no-repeat;
    background-position: top center;
    background-size: 100% 520px;
    overflow: hidden;
  }
  .intro__slider {
    width: 300px;
    height: 300px;
  }
  .intro__info {
    color: var(--black);
    position: relative;
    gap: 10px;
    height: 300px;
    padding: 0 20px;
  }
  .intro__benefit__title {
    display: flex;
    align-items: center;
    height: 45px;
  }
  .intro__benefit__image {
    width: 40px;
    height: 40px;
  }
  .intro__info__title {
    font-size: 1.8rem;
    width: 280px;
  }
  .intro__info__description {
    font-size: 1.3rem;
  }
  .intro__description {
    font-size: 1rem;
    padding: 0 20px;
  }
  .intro__benefits {
    padding: 0 20px;
    display: flex;
    gap: 18px;
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
    justify-content: center;
  }

  .intro__description {
    margin: 40px 0 15px;
  }
}

@media screen and (max-width: 700px) {
  .intro__benefit {
    width: calc(50% - 9px);
    height: 160px;
    font-size: 0.8rem;
    padding: 30px 20px 10px;
    gap: 15px;
  }
  .intro__benefits {
    display: flex;
    flex-wrap: wrap;
  }
  .intro__info__button__container {
    width: 100%;
    margin: 5px 0 0 0;
  }
}
