.process {
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.process__title {
  font-size: 2.2rem;
  margin: 70px 0 40px;
}

.process__column__description {
  font-size: 1.1rem;
}

.process__row {
  display: flex;
  gap: 30px;
  opacity: 0;
}

.process__column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.process__column__image__container {
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
}

.process__column__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.process__column__title {
  margin: 20px 0;
  font-size: 1.5rem;
}

.process__column__image__mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .process {
    margin: 40px 0 0 0;
  }
  .process__title {
    display: none;
  }
  .process__row {
    flex-direction: column;
    align-items: center;
  }
  .process__column {
    max-width: 500px;
    width: 100%;
  }
  .process__column__image {
    display: none;
  }
  .process__column__image__container {
    height: 100px;
  }

  .process__column__image__mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .process__column__description {
    font-size: 1rem;
  }
}
