.footer {
  display: flex;
  justify-content: space-between;
  color: var(--black);
  padding: 0 0 150px 0;
  font-size: 0.9rem;
}

.firstColumn {
  max-width: 340px;
  width: 100% !important;
}

.footer__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.footer__logo__container {
  max-width: 340px;
  width: 100%;
  height: 50px;
}

.footer__logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.footer__logo__description {
  margin: 20px 0;
}

.footer__column__location {
  margin: 50px 0 0 0;
  display: flex;
  gap: 10px;
  padding: 0 40px 0 0;
}

.footer__column__location__icon {
  align-self: flex-start;
}

.footer__column__location__text {
  font-size: 1rem;
  max-width: 320px;
  width: 100%;
}

.footer__links {
  margin: 70px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__link {
  font-weight: 700;
  font-size: 1.1rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__contacts__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__contacts__title {
  font-weight: 700;
}

.footer__contacts__line {
  display: flex;
  gap: 10px;
}

.footer__contacts__icon {
  align-self: flex-start;
}

.footer__button__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 0.8rem;
  }
  .footer__links {
    margin: 0;
  }
  .footer__column {
    width: 100%;
  }
  .footer__link {
    width: 100%;
    text-align: center;
  }
  .footer__logo__description {
    margin: 15px 0;
  }
  .footer__column__location {
    margin: 15px 0 0 0;
  }
  .footer__link {
    font-size: 0.9rem;
  }
}
