.clients__title {
  color: var(--black);
  font-size: 2.2rem;
  margin: 100px 0 40px;
}

.clients__banner__container {
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.clients__banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.clients-animation {
  animation: flow 90s linear infinite;
}

@keyframes flow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400%);
  }
}

@media screen and (max-width: 1050px) {
  .clients__title {
    margin: 40px 0 20px;
    font-size: 1.8rem;
  }

  .clients__banner {
    width: 250%;
  }
  .clients-animation {
    animation: flow 60s linear infinite;
  }
}
