.clients__title {
  color: var(--black);
  font-size: 2.2rem;
  margin: 100px 0 40px;
}

.clients__banner__container {
  width: 100vw;
  height: 500px;
  overflow: hidden;
}

.clients__banner {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.clients-animation {
  animation: flow 7s linear infinite;
}

@keyframes flow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1050px) {
  .clients__title {
    margin: 40px 0 20px;
    font-size: 1.8rem;
  }
  .clients__banner__container {
    width: 100vw;
    height: 300px;
  }
  .clients__banner {
    width: 110%;
  }
}
