* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: #0090fa;
  --font-family: "Montserrat";
  --black: #000000;
}

a {
  text-decoration: none;
  color: initial;
}

a,
button,
input,
body {
  font-family: var(--font-family);
}

html {
  font-size: 15px;
  color: var(--primary);
  scroll-behavior: smooth;
}

.semibold {
  font-weight: 600;
}
