* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: #0090fa;
  --font-family: "Montserrat";
  --black: #000000;
}

a {
  text-decoration: none;
  color: initial;
}

a,
button,
input,
textarea,
select,
body {
  font-family: var(--font-family);
}

html {
  font-size: 15px;
  color: var(--primary);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  color: red;
  font-weight: 600;
  padding: 0 0 0 20px;
}

.left-to-right {
  animation: left-to-right 0.5s forwards;
}

.right-to-left {
  animation: right-to-left 0.5s forwards;
}

.bottom-to-top {
  animation: bottom-to-top 0.5s forwards;
}

@keyframes right-to-left {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bottom-to-top {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
